<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign out"/>
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}" />
        </form>
        <span><a href="/user">User List</a></span>
    </div>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Введите сообщения">
            <input type="text" name="tag" placeholder="Тэг">
            <button type="submit">Добавить сообщение</button>
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}" />
        </form>
    </div>
    <div>Список сообщений:</div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <button type="submit">Найти</button>
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
    </form>
    <ul>
        <th:block th:each="message, state:${allMessages}">
            <li>
                <b th:text="${message.id}"/>
                <i th:text="${message.text}"></i>
                <i th:text="${message.tag}"/>
                <strong th:text="${message.getAuthorName()}"/>
            </li>
        </th:block>
    </ul>
</body>
</html>